@CHARSET "utf-8";
html,body,div,a,section,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,nav,p{
	padding: 0;
	margin: 0;
}
html,body{
	height:100%;
}
html,body{
	    background-color: white;
}
ul,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;	
}
a{
	text-decoration: none;
}

label{
	font-weight: normal;
}
.modal-body{
	padding:0;
	background: white;
}
.content{
	float: right;
	width: 100%;
	height: 100%;
	/* Firefox */
	display:-moz-box;
	-moz-box-orient:vertical;
	
	/* Safari、Opera 以及 Chrome */
	display:-webkit-box;
	-webkit-box-orient:vertical;
	
	/* W3C */
	display:box;
	box-orient:vertical;
}
.content .title{
	color: #255480;
	height: 55px;
	border-bottom: 1px solid #ff6c9c;
	min-height: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-left:none;
	border-right:none;
}
.content .title a{
	color: #333;
	line-height: 55px;	
	font-size: 14px;
	 padding: 0 10px;
	text-align: center;
	cursor: pointer;
	height:53px;
	display:block;
}
.content .title a:not(.select):hover{
	color: #ff4584;
    text-decoration: none;
	border-bottom:2px solid #ff94b7;
}
.content .title a.select{
	color: #ff4584;
    text-decoration: none;
	border-bottom:2px solid #ff94b7;
}

.box-div{
	float:left;
	position: relative;
	margin-left: 15px;
}
.content .show{
	width: 100%;
	background: white;
	padding: 25px 15px; 
	/* Firefox */
	display:-moz-box;	
	/* Safari、Opera 以及 Chrome */
	display:-webkit-box;
	/* W3C */
	display:box;
	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;		
}
.titlt-h2{
	color: #999;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid #ff94b7;
    padding: 5px 0;
    text-indent: 15px;
    background-color: #fff;
	margin-top: 10px;
	line-height: normal;
}
.titlt-h2 span{
	color: #08c;
}
.node-div{
	float:right;  
	margin-right:15px; 
	font-size:12px; 
	color:#999;  
	position: relative;
}
.node-div label{
	color:#08c;
	cursor: text;
	display: inline;
	font-weight: normal;
}
.modal-top{
    padding: 0 0 10px;
    background: #fff;
    font-size: 14px;
}
.modal-top form{
	float: left;
	position: relative;
}
.modal-top h4{
	color:#ff67b6;
	font-size: 14px;
	font-weight: normal;
	line-height: 35px;
	float: left;
}
.modal-top h4 span{
	font-size: 12px;
    color: #005580;
}
.search {
    position: relative;
    border: 1px solid #ccc;
    margin: 0 0 4px 0;
    border-radius: 3px;
    height: 32px;
    overflow: hidden;
    float: left;
	margin-right: 10px;
}
.search #machineListSearchKey ,.search input{
    height: 32px;
    outline: none;
    padding-left: 3px;
    border: none;
}
.search .btn1{
	display: inline-block;
	width: 50px;
    height: 32px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#F5F5F5,#e6e6e6);
    background-image: linear-gradient(to bottom,#F5F5F5,#e6e6e6);
    background-repeat: repeat-x;
    border: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}
.select-button{
  height: 30px;
  margin-left: -5px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
	right:0;
  outline: none;
 cursor: pointer;
 width: 30px;
 border-radius: 0 3px 3px 0;
	border: none;
	top: 0;
}
.select-button .caret{
	 margin-left: 10px;
    margin-top: 10px;
}
.search .delete-btn{
    position: absolute;
    width: 14px;
    right: 53px;
    top: 9px;
    cursor: pointer;
    display: none;
}
.btn4545{
	color: #FF5e93;
    border: 1px solid #FF5e93;
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background: none;
    float: right;
	outline: none;
	height:30px;
	line-height: 28px;
}
.btn4545:hover{
	background-color:#FF5e93;
	color:#fff;
	text-decoration: none;
}
.table-bordered{
	margin-top:10px;
}
.table-bordered tr td,.table-bordered tr th{
	word-break: break-all;
	font-size:12px;
	color:#333;
}
.table-bordered tr td a{
	color:#337ab7
}
.pager{
	text-align: left;
}
.table-bordered{
	margin-top:10px;
}
.table-bordered tr td,.table-bordered tr th{
	word-break: break-all;
	font-size:12px;
	color:#333;
}
.table-bordered tr td a{
	color:#337ab7
}
.pager{
	text-align: left;
}
.checkbox-inline{
	margin-top:5px;
}
.label_left{
	text-align: left;
	text-align: left !important;
}
.table-bordered tr td.template-td a{
	color:#333;
}



.hover-td{
	position: relative;
}

.hover-td .span1{
	position: absolute;
	z-index: 1000;
	width: 90%;
	padding: 5px 5px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	line-height: 24px;
	color: #333;
	font-size: 12px;
	top: 30px;
	left: 5%;
	display:none;
	word-wrap: break-word;
}

.hover-td .span1:before{
  position: absolute;
  top: -8px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0,0,0,0.2);
  content: '';
  left: 6px;
}
.hover-td .span1:after{
  position: absolute;
  top: -6px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
  left: 7px;
}



/*新建*/
.control-label{
	 display: inline-block;
    width: 105px;
    text-align: right;
    color: #6D6C6C;
    font-weight: normal;
	margin-bottom: 10px;
}
.control-label1{
	width: 65px;
}
.col-sm-10,.col-sm-2,.form-horizontal .form-group,.col-sm-11{
	padding:0;
	margin:0;
}
.col-sm-11{
	display:none;
}
.control-label{
	margin-bottom:10px;	
}
.form-group .col-sm-10{
	width:260px;
	display: inline-block;
}
.slide-btn{
	background:url(add.png) no-repeat right center;
	background-size: 25px 25px;
	height:25px;
	cursor: pointer;
	margin-right:15px;
	margin-bottom:15px;
}
.slideup-btn{
	background:url(cuts.png) no-repeat right center;
	background-size: 25px 25px;
	height:25px;
	cursor: pointer;
	margin-right:15px;
	margin-bottom:15px;
}
.show-box{
	border:1px solid #ccc;
	border-radius: 4px;
	padding:15px 10px;
	margin-bottom: 15px;
	overflow: hidden;
}
.form-horizontal .form-margin{
	margin-bottom:15px;
}
.input-group .help{
	color: #ca0707;
    line-height: 34px;
    cursor: pointer;
    background: url(help.gif) no-repeat right center;
    background-size: 25px 25px;
    width: 25px;
    height: 34px;
    display: inline-block;
    float: left;
    margin-left: 15px;
	position: relative;
	
}
.input-group .help span{
	position: absolute;
    z-index: 1000;
    min-width: 252px;
    padding: 5px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    line-height: 26px;
    color: #333;
    font-size: 13px;
    top: -26px;
    cursor: default;
    left: 34px;
    display: none;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.input-group .help span:before {
  	position: absolute;
    top: 36px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-left-color: rgba(0,0,0,0.2);
    content: '';
    left: -7px;
}
.input-group .help span:after {
    position: absolute;
    top: 37px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    content: '';
    left: -5px;
}
.form-group .hint{
	color: #ca0707;
    line-height: 34px;
	font-size:12px;
	margin-left:15px;
}
.callback-box{
	border:1px solid #ccc;
	padding:10px;	
	border-radius: 4px;
	margin: 0 15px;
}
.callback-img{
	width:17px;
	float:left;
	margin-top: 6px;
	cursor: pointer;
}
.form-horizontal{
	margin:25px 15px;
	margin-bottom:50px;
}
.dropdown-toggle b{
	font-weight: normal;
}
.clear{
	float: none;
}
.form-group .span1{
	color:#08c;
	line-height: 29px;
}

/*时间控件*/
.form-group {
    position: relative;
    padding-right: 5px;
}

.form-control,
.simulation-input {
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    color: #4b555b;
    background: none;
    outline: none;
    border: 1px solid #d3dcdd;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 -1px;
    padding: 7px 8px;
    *padding-left: 0;
    *padding-right: 0;
    *text-indent: 8px;
    *float: left;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.float-left{
	float:left;
}

.table-cell tr th{
	color: #333;
	font-weight: normal;
}
.form-group-txt{
	line-height: 34px;
	margin-left:10px;
}
.chosen-drop{
	margin-bottom:30px;
}
.chosen-container-single{
	width:260px;
}

.exit-btn{
    background: url(exit.png) no-repeat right center;
    background-size: 25px 25px;
    width: 27px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: -1px;
}
.delault-hide{
	visibility: hidden;
}
.disabled-div{
	position: absolute;
	width:100%;
	height:100%;
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.2;
    background-color: #999;
    border-radius: 5px;
}
.wrap{
	
}
.label_title{
	width:100%;
	text-align: left !important;
	padding-left:15px !important;
	font-size: 14px;
    font-weight: bold;
    color: #333;
	margin-bottom:10px !important;
	margin-top:10px;
}
.label_title1{
	width:100%;
	text-align: left !important;
	padding-left:15px !important;
	font-size: 14px;
    font-weight: bold;
    color: #333;
	margin-bottom:10px !important;
	border-top:1px solid #ccc;
	padding-top:15px !important;
}

.form-border{
	border-bottom:1px solid #ccc;
	padding:0 15px !important;
}
.form-border1{
	padding:0 15px !important;
}
.form-border2{
	border-bottom:1px solid #ccc;
	padding:0 15px 15px!important;	
}
.callback-img{
	background: url(show-icon.png) no-repeat 37px 9px;
    background-size: 38px 33px;
}
.callback1-img{
	background: url(hide-icon.png) no-repeat 37px 9px;
    background-size: 38px 33px;
}
.input-group .span-inline{
	float: left;
    line-height: 34px;
    font-size: 14px;
    color: #333;
    margin-right: 5px;
}
.check-type{
	float: left;
}
.check-type li{
	line-height: 28px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    width: 90px;
    text-align: center;
	display: inline-block;
	border:1px solid #ff94b7;
	color:#ff94b7;
	border-radius: 4px;
	margin-right:10px;
}
.check-type li:first-child{
	
}
.check-type li.select {
    background-color: #ff94b7;
    color: #fff;
}
.col-sm-10 p{
	float:left;
	line-height: 34px;
}
.col-sm-10 p.node-path{
	color:#333;
	font-size:14px;
}
.col-sm-10 p.error-mas{
	color:#ca0707;
	font-size:12px;	
	margin-left:80px;
}
.help {
    color: #ca0707;
    line-height: 34px;
    cursor: pointer;
    background: url(help.gif) no-repeat right center;
    background-size: 25px 25px;
    width: 25px;
    height: 34px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    position: relative;
}
.help span{
	position: absolute;
    z-index: 1000;
    min-width: 252px;
    padding: 5px 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    line-height: 26px;
    color: #333;
    font-size: 13px;
    top: -26px;
    cursor: default;
    left: 34px;
    display: none;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.help span:before {
  	position: absolute;
    top: 36px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-left-color: rgba(0,0,0,0.2);
    content: '';
    left: -7px;
}
.help span:after {
    position: absolute;
    top: 37px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    content: '';
    left: -5px;
}
.show-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px 10px;
    margin-bottom: 15px;
    overflow: hidden;
}
.simulation-div,#text-content-div{
	display:none;
}


















